alembic==1.17.2
aiofiles==25.1.0
fastapi==0.121.2
uvicorn==0.38.0
sqlalchemy==2.0.44
asyncpg==0.30.0
pydantic==2.12.4
pydantic-settings==2.12.0
python-jose[cryptography]==3.5.0
passlib[bcrypt]==1.7.4
python-multipart==0.0.20
psycopg2==2.9.11
redis==7.0.1
email-validator==2.3.0